body {
  background-image: linear-gradient(#6565e7, #5288e8);
  background-repeat: no-repeat;
  font-size: 2em;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#quote-box {
  height: 50vh;
  width: 50vh;
  position: center;
  border-radius: 12px;
  font-size: 0.5em;
  background-color: rgb(217, 211, 241);
}

#text {
  font-family: Georgia, serif;
  position: relative;
  margin: 0.5em;
  padding-top: 20%;
  padding: 1.1em 2em 0.5em 3em;
}
#text:before {
  font-family: Georgia, serif;
  position: absolute;
  font-size: 6em;
  line-height: 1;
  top: 0;
  left: 0;
  content: "\201C";
}
#text:after {
  font-family: Georgia, serif;
  position: absolute;
  float: right;
  font-size: 6em;
  line-height: 1;
  right: 0;
  bottom: -0.5em;
  content: "\201D";
}

.box {
  display: flex;
  justify-content: space-between;
}
#author {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 5%;
  padding-right: 5%;
}

button {
  background-color: black;
  color: white;
  border-radius: 5%;
}

.page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
